<%-include('./partial/header.ejs')-%>
    <br><br>
    <div class="bodyabout" style="width: 100%; height: 100%;">
        <div class="fade-in-textabout">
            <h1 class="h1about">This is about section.</h1>
        </div>

        <head>
            <link rel="stylesheet" href="us.css">
        </head>


        <h2 class="h2about" style="font-size: 5vw; color: white; margin-left: 10px;">
            About section text
        </h2>
    </div>


    <%-include('./partial/footer.ejs')-%>