<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="wrapper">
    <div class="center">
        <div class="w3-container w3-center w3-animate-top">
            <h1>WELCOME TO SHARED ROOF </h1>
        </div>
        <div class="fade-in-text">
            <h2>Looking for a roomie huh?</h2>
        </div>
        <div class="res-btn">
            <form action="/login" method="GET" style="width: 150px; border: 0;">
                <button class="homebtn" type="submit">Register</button>
            </form>
            <form action="/ad_section" method="GET">
                <button class="homebtn" type="submit">Explore</button>
            </form>
        </div>

    </div>
</div>